body,
html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.conteinerFlujograma {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin: auto;
  margin-top: 2rem;
}


.nav-link.custom {
  width: 150px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  transition: none;
}


.nav-link.custom.active {
  color: #ffffff !important;
  background-color: #cb2128 !important;
  border-color: #ffffff !important;
}

.nav-link.custom:hover {
  color: #fff;
  background-color: rgba(255, 0, 0, 0.463);
  border-color: rgb(252, 252, 252);
}

.nav-link.sub {
  color: #000000;
  background-color: #fff;
  border: 1px solid #ccc;

}


.nav-link.sub.active {
  color: #ffffff !important;
  background-color: rgb(197, 57, 57) !important;
  border-color: #ffffff !important;
  transition: none;
}

.nav-link.sub:hover {
  color: #fff;
  background-color: rgb(108, 5, 5);
  border-color: red;
}

.conteinerNav {
  background: linear-gradient(to right, #646565, #414345);
  padding-bottom: 2rem;
  width: 100%;
  height: auto;
  margin: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items: center; 
}


@media (max-width: 576px) {
  .conteinerNav {
    flex-direction: column;
    align-items: center;
  }
}


@media (min-width: 577px) and (max-width: 992px) {
  .conteinerNav {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 993px) {
  .conteinerNav {
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 2rem;
    
  }
}
@media (min-width: 1280px) {
  .conteinerNav {
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 2rem;
    
  }
}

.tab-pane {
  padding: 1rem; 
  margin: 0; 
}

.navConteiner {
  display: flex;
  flex-direction: column;
  align-self: flex-start; 
  margin-left: 0;
  padding-left: 0;
 
}

.titleNav {
  color: rgba(232, 232, 232, 0.775);
  font-size: 14px;
  display: flex;
  text-align: start;
  justify-content: start;
  margin-left: -40px;
  padding-right: 40px;
}

.separateLine {
  border-top: 2px solid #ccc;
  padding-top: 8px;
  margin-top: 8px;
}

.btnGroup {
  margin-right: 20px;
}

.responsiveIframe {
  width: 70% !important;
  height: 80vh;
  margin-bottom: 30px; 
  align-items: center;
  margin: auto;
}

.mapaGeneral{
  width: 70% !important;
  height: 70vh;
}


.responsiveImgGeneral{
  max-width: 500px; 
  height: 400px; 
  margin: auto;
}




.responsiveImg {
  max-width: 100%; 
  height: 50vh; 
}

.responsiveImgBateria {
  max-width: 100%; 
  height: auto; 
}

@media (max-width: 768px) {
  .responsiveImgBateria {
    max-width: 100%;
  }
}


@media (min-width: 769px) and (max-width: 1200px) {
  .responsiveImgBateria {
    max-width: 80%;
  }
}


@media (min-width: 1201px) {
  .responsiveImgBateria {
    max-width: 750px;
    height: 650px;
  }
}

.customBTN {
  font-size: 16px; 
  padding: 5px 5px; 
  margin-top: 5px;
  background-color: #cb2128; 
  color: #fff; 
  border: none; 
  border-radius: 10px; 
  cursor: pointer; 
}

.customBTN:hover {
  background-color: #ce0606; 
}


.customBTN a {
  text-decoration: none; 
  color: inherit; 
}