.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(186, 186, 186);
}

.contenedor-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
}

.buttonShadow {
  border: 1px solid black;
  background-color: #cb2128;
  font-size: 30px;
  height: 100px;
  width: 300px;
  box-shadow:
    0px 2px 4px rgba(0, 0, 0, 1),
    2px 4px 6px rgba(0, 0, 0, 1),
    4px 4px 6px rgba(0, 0, 0, 1);
}

.buttonShadow:hover {
  box-shadow:
    2px 2px 2px 4px rgba(0, 0, 0, 1),
    4px 4px 4px 4px #cb2128,
    6px 6px 6px 8px #cb2128;
}

.logo {
  height: 300px;
  width: 350px;
}