.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(186, 186, 186) ;
  }

.contenedor-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10rem;

}