.lista {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-top: 3rem;
  list-style: none;
}

.calculadora {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tabla {
  border: 2px solid lightcyan;
}

h1{
  font-size: 30px;
  margin-top: 1rem;
  text-align: start;
}

@media (max-width: 767px) {
  h1 {
    font-size: 25px;
    margin-bottom: 2rem;
  }
}

@media (max-width: 460px) {
  h1 {
    font-size: 20px;
    margin-bottom: 2rem;
  }
}

p{
  font-size: 20px;
  text-align: start;
}

@media (max-width: 767px) {
  p {
    font-size: 18px;
    margin-bottom: 2rem;
  }
}

@media (max-width: 460px) {
  p {
    font-size: 16px;
    margin-bottom: 2rem;
  }
}

td{
  font-size: 20px;
  text-align: start;
}

@media (max-width: 767px) {
  td {
    font-size: 18px;
    margin-bottom: 2rem;
  }
}

@media (max-width: 460px) {
  td {
    font-size: 14px;
    margin-bottom: 2rem;
  }
}