.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100vw;
  }

.conteiner{
  background-image: "https://get.wallhere.com/photo/pattern-metal-tire-asphalt-net-material-floor-line-mesh-1920x1080-px-flooring-automotive-tire-tread-chain-link-fencing-571359.jpg";

}

